@page "/account/login"
@using EmailView.Helpers
@using EmailView.Models
@using EmailView.DataServices

@inject IMAPService MailService
@inject IAlertService AlertService
@inject NavigationManager NavigationManager

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="model.Username" class="form-control" />
                <ValidationMessage For="@(() => model.Username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <button disabled="@loading" class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            @* <NavLink href="account/register" class="btn btn-link">Register</NavLink> *@
        </EditForm>
    </div>
</div>

<div class="card">
    <h4 class="card-header">Email Provider Information</h4>
    <div class="card-body">
        <div class="form-group">
            <label>GMail</label>
            <p>Can use email password.</p>
            <NavLink href="https://support.google.com/mail/answer/7126229?hl=en&visit_id=637602647405043275-2883311825&rd=2" class="btn btn-link">IMAP Info</NavLink>
        </div>
        <div class="form-group">
            <label>Outlook.com</label>
            <p>Can use email password.</p>
            <NavLink href="https://support.microsoft.com/en-us/office/pop-imap-and-smtp-settings-for-outlook-com-d088b986-291d-42b8-9564-9c414e2aa040" class="btn btn-link">IMAP Info</NavLink>
        </div>
        <div class="form-group">
            <label>Yahoo!</label>
            <p>REQUIRES a generated App Password.</p>
            <NavLink href="https://en-global.help.yahoo.com/kb/SLN4075.html" class="btn btn-link">IMAP Info</NavLink>
        </div>
    </div>
</div>

@code {
    private Models.Account.Login model = new Models.Account.Login();
    private bool loading;

    private async void OnValidSubmit()
    {
        // reset alerts on submit
        AlertService.Clear();

        loading = true;
        try
        {
            await MailService.Login(model);
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}