@page "/addrule"

@if (LoggedIn == false)
{
    <div class="card">
        <div class="card-header">
            Email Rules
        </div>
        <div class="card-body">
            <h5 class="card-title"><span class="oi oi-lock-locked" aria-hidden="true"></span> Not logged into mailbox.</h5>
            <p class="card-text">Sign into your mailbox and we can get to work!</p>
            <a href="/account/login" class="btn btn-primary"><span class="oi oi-account-login" aria-hidden="true"></span> Login</a>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><span class="oi oi-plus" aria-hidden="true"></span> Add new rule</h5>
            <p class="card-text">Give your rule a name and then add Conditions and Actions next.</p>
            
            <EditForm Model="@addedRule" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <p>
                    <label>
                        Name: <InputText @bind-Value="ruleName" />
                    </label>
                </p>            

                <button class="btn btn-primary" type="submit">Submit</button>
            </EditForm>
        </div>
    </div>
}