@page "/"

@using EmailView.DataServices
@inject IMAPService MailService

@if (LoggedIn == false)
{
    <div class="card">
        <div class="card-header">
            Email Rules
        </div>
        <div class="card-body">
            <h5 class="card-title"><span class="oi oi-lock-locked" aria-hidden="true"></span> Not logged into mailbox.</h5>
            <p class="card-text">Sign into your mailbox and we can get to work!</p>
            <a href="/account/login" class="btn btn-primary"><span class="oi oi-account-login" aria-hidden="true"></span> Login</a>
        </div>
    </div>
}
else
{
    <h1>Hello, emails!</h1>
    <NavLink href="emails" class="btn btn-link">Emails (last 2 days)</NavLink>

    <hr />
    <NavLink href="https://github.com/myan-onward/" class="btn btn-link">myan-onward (GitHub)</NavLink>
}

@code
{
    public bool LoggedIn
    {
        get { return MailService.IsAuthenticated; }
    }
}