@inherits LayoutComponentBase
@using EmailView.DataServices
@* @inject IAccountService AccountService *@
@inject IMAPService MailService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link"><span class="oi oi-home" aria-hidden="true"></span> Home</NavLink>
            <NavLink href="stacks" class="nav-item nav-link"><span class="oi oi-inbox" aria-hidden="true"></span> Stacks</NavLink>
            <NavLink href="emails" class="nav-item nav-link"><span class="oi oi-envelope-closed" aria-hidden="true"></span> Emails</NavLink>
            <NavLink href="rules" class="nav-item nav-link"><span class="oi oi-puzzle-piece" aria-hidden="true"></span> Rules</NavLink>
            <NavLink href="account/logout" class="nav-item nav-link"><span class="oi oi-account-logout" aria-hidden="true"></span> Logout</NavLink>
        </div>
    </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    public bool LoggedIn 
    {
        get { return MailService.IsAuthenticated; }
    }
}

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div> *@

